.container {
  /* background-color: aliceblue; */
  padding: 20px;
}

.container h2 {
  color: #fff;
}

.btnscore {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-around;
}

.btnscore button, .committee button {
  background-color: #fff;
  border: 0;
  border-radius: 8px;
  outline: 0;
  padding: 20px;
  font-size: 16px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

#mixedscore button:nth-child(n+6) {
  flex-basis: 0 0 100%;
}

.btnscore button:hover {
  background-color: #DA2128;
  color: #e6e6e6;
}

hr {
  border: 1px solid #636466;
}

.line {
  background-color: #2F333E;
  height: 3px;
  margin-top: 20px;
}

.committee {
  display: flex;
  align-items: center;

}

.committee button {
  height: 40px;
  background-color: #3c79f5;
  color: #fff;
  padding: 10px;
  margin-left: 20px;
  opacity: 0.6;
}

.committee button:hover {
  background-color: #3972e6;
  opacity: 1;
}