.container {
  background-color: rgb(255, 255, 255);
  width: 500px;
  height: 400px;
  padding: 20px;
  margin: 100px auto;
  border-radius: 10px;
}

.headTxt {
  text-align: center;
}

.seTxt {
  text-align: start;
}

select {
  width: 500px;
  padding: 10px;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
}

form {
  display: flex;
  justify-content: space-around;
  margin-top: -20px;
}

.boxsex {
  font-size: 18px;
  margin-bottom: 20px;
}

.boxsex input {
  cursor: pointer;
  margin-right: 10px;
}

.container span {
  display: flex;
  justify-content: center;
}

.btnsubmit {
  width: 250px;
  padding: 14px;
  font-size: 18px;
  color: #fff;
  background: #007bff;
  border: none;
  border-radius: 15px;
  margin-top: 20px;
  cursor: pointer;
}