@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Roboto:wght@400;500;700&family=Sarabun:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

/* styles.css */
body {
  margin: 0;
  font-family: Sarabun, sans-serif;
  box-sizing: border-box;
  height: 100vh;
  background-color: #f2f2f2;
}

.homepage {
  width: 1600px;
  height: 1200px;
}

/* Sidebar */
.sidebar {
  width: 250px;
  height: 1348px;
  background-color: #ADADAD;
  color: #000000;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.8);
  position: absolute;
  z-index: 1;
}

.sidebar header {
  display: flex;
  width: 234px;
  height: 30px;
  justify-content: space-around;
  align-items: center;
  padding: 13px 8px;
  border-bottom: 2px solid #000000;
  cursor: pointer;
}

.sidebar img {
  width: 60px;
  height: 51px;
}

.sidebar h2 {
  font-size: 20px;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar ul li {
  display: flex;
  width: 210px;
  height: 24px;
  padding: 8px 16px;
  margin-left: 5px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  align-items: center;
}

.sidebar ul li i {
  font-size: 20px;
  margin-right: 5px;
  cursor: pointer;
}

.icon-sidebar:hover, .stat-user:hover, .satatuseractive {
  background-color: #A40001;
  border-radius: 5px;
  padding-left: 10px;
  color: white;
}

.satatuseractive {
  background-color: #2F333E;
}

.stat-user .arrow {
  margin-left: auto;
}

.today-user {
  width: 210px;
  height: auto;
  font-size: 15px;
  font-weight: bold;
  padding: 8px 16px;
  padding-top: 0;
  margin-top: -6px;
  display: none;
}

.today-user p {
  margin-left: 25px;
}

/* navbar */
nav {
  display: flex;
  width: 1600px;
  height: 56px;
  align-items: center;
  border-bottom: 2px solid #000000;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.4);
  margin-left: 250px;
  position: relative;
  z-index: 0;
}

.btn-home,
.btn-map {
  width: 150px;
  font-size: 24px;
  font-weight: bold;
  background-color: transparent;
  border: 0;
  outline: 0;
  cursor: pointer;
}

.btn-home {
  align-items: center;
  padding: auto;
}

nav h1 {
  font-size: 24px;
  color: #000000;
}

.btn-map {
  width: 300px;
  font-size: 20px;
  font-weight: normal;
  letter-spacing: 1px;
  margin-left: auto;
  margin-right: 30px;
}

/* Content */
.content {
  width: 1600px;
  height: 1200px;
  margin-left: 250px;
  padding-bottom: 85px;
  padding-top: 5px;
  background: url("../picture/coverweb/test2023.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}